:root {
    --white: #fff;
    --deep-space-blue: hsla(201, 100%, 14%, 1);
    --flag-red: hsla(0, 69%, 50%, 1);
    --vivid-tangerine: hsla(31, 100%, 48%, 1);
    --sunflower-gold: hsla(40, 97%, 64%, 1);
    --heading-font: 'Times New Roman', Times, serif;
    --body-font: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: 120px 1fr;
    background-color: var(--white);
    color: var(--deep-space-blue);
}

header nav {
    background-color: var(--sunflower-gold);
    color: var(--deep-space-blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    grid-column: 2/3;
}

header a {
    justify-content: space-evenly;
    text-decoration: none;
}

body {
    font-family: var(--body-font);
    color: var(--deep-space-blue);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--deep-space-blue);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history h2 {
    display: flex;
    grid-column: 1/4;
    justify-content: center;
    border-bottom: 1px dotted var(--deep-space-blue);
}

.history img {
    margin-top: 28px;
    grid-column: 2/3;
    width: 300px;
}

figure img {
    width: 150px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

figcaption {
    display: flex;
    justify-content: center;
    color: var(--flag-red);
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    border-top: 1px solid var(--vivid-tangerine);
}

.socialmedia {
    margin-left: auto;
}

footer p {
    margin: auto;
}

.adventure h2 {
    display: flex;
    justify-content: center;
    grid-column: 1/6;
    border-bottom: 1px dotted var(--deep-space-blue);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    text-align: center;
    background-color: var(--sunflower-gold);
    top: 30px;
    padding: 16px;
    width: 100%;
    opacity: 0.7;
}

.hero img {
    display: block;
    width: 100%;
}

.hero article {
    position: absolute;
    top: 100px;
    background-color: var(--vivid-tangerine);
}

.hero article img {
    float: right;
    width: 200px;
}

.feedback-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.address p {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

form {
    border: 1px solid black;
}

.radio p {
    display: grid;
    grid-row: 1/4;
    padding: 2px;
    margin: 3px;
    align-items: center;
}

label[for="feedback"] {
    display: block;
    margin: 5px;
}

form input,
label,
textarea {
    margin: 5px;
}

form input {
    padding: 3px;
}

.form-section {
    margin: 0;
    padding: 0;
    background-color: aquamarine;

}

.radio {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1px;
    margin: 1px;
}

h1 {
    text-align: center;
    padding: 2px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 2px 4rem;
}

textarea {
    width: 380px;
}

.user-info input {
    width: 320px;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--sunflower-gold);
    margin: 5px;
    padding: 5px;
}

.employees h2 {
    display: grid;
    grid-column: 1/4;
    justify-content: center;
    padding: 5px;
}

.employees figcaption {
    display: grid;
    color: var(--deep-space-blue);
    background-color: transparent;
    justify-content: space-around;
}

.profile {
    display: grid;
    width: 100%;
    justify-content: space-around;

}