:root {
    --primary-background-color: white;
    --heading-font: 'Times New Roman', Times, Serif;
    --heading-background-color: lightblue;
    --heading-text-color: darkblue;
    --box-border: 1px solid black;
    --box-shadow: 0 0 20px black;
    --center-text-alignment: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    color: black;
    align-items: center;
    padding: 1rem;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: lightblue;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

h1 {
    background-color: var(--primary-background-color);
    font-family: var(--font);
    color: darkblue;
    text-align: var(--center-text-alignment);
    border-bottom: 2px dotted darkblue;

}

main img {
    width: 150px;
    height: auto;
    border: var(--box-border);
    padding: 2px;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: var(--center-text-alignment);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 2rem;
    left: 7rem;
    background-color: transparent;
    color: azure;
    z-index: 1;
}

footer {
    margin-top: 1erm;
    border-top: var(--box-border);
    text-align: var(--center-text-alignment);
}

/* class selectors */
.box {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px dotted black;
    background-color: lightgrey;
    color: black;
}