* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    position: relative;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(0 0 0 /0.5);
    float: right;
    right: 15px;
}

main p {
    padding: 0;
}

main {
    max-width: 880px;
}

aside {
    width: 20em;
    height: auto;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    color: gold;
    left: 100px;
    right: 100px;
    font-family: monospace;
}

aside p {
    padding: 0;
    text-align: center;
}

footer {
    margin-top: 20px;
    border-top: 1px dotted black;
    text-align: center;
}

ul {
    list-style-type: circle;
    clear: both;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: lightblue;
    color: black;
}