:root {
    --primary-background-color: white;
    --heading-font: 'Times New Roman', Times, serif;
    --heading-background-color: lightblue;
    --heading-text-color: darkblue;
    --box-border: 1px solid black;
    --box-shadow: 0 0 20px black;
    --center-text-alignment: center;
}

nav {
    background-color: lightblue;
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    font-family: var(--font);
    color: darkblue;
    text-align: var(--center-text-alignment);
}

main img {
    width: 150px;
    height: auto;
    border: var(--box-border);
    padding: 2px;
    margin-right: 15px;
    box-shadow: 0 0 30px gray;
    float: left;
}

p {
    padding: 0;
}

main {
    max-width: 45rem;

}

aside {
    width: 45rem;
    margin: 1rem 0;
    border: 1px dotted black;
    padding: 1rem;
    background-color: rgb(238, 215, 215);
    color: black;
    text-align: var(--center-text-alignment);
    clear: both;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: var(--box-border);
    text-align: var(--center-text-alignment);
}